.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #ddddff;
  }
.main div{
	/*  */
	transition: font-size 0.2s ease-in-out;
	font-family: Arial rgb(0, 0, 0), sans-serif;

}
  
  input[type="text"] {
	margin-top: 1rem;
 
}
